<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demosll" >

    <application
        android:allowBackup="true"
        android:label="DemoSLL"
        android:theme="@style/Theme.Demosll"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".ProfileHocSinh"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.CapNhatDiemMonToan"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.CapNhatDiemGiaoVien"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.HocPhiActivity"
            android:exported="false" />
        <activity
            android:name=".model.HocPhi"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.KhenThuongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.HanhKiemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.BangDiemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.LienHePhuHuynh"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.CapNhatDiem"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.DanhSachHocSinh"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.ThongTinHocSinh"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.ThanhToanHocPhi"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.KenhThongTin"
            android:exported="false" />
        <activity
            android:name=".ui.hocsinh.HocSinhActivity"
            android:exported="false" />
        <activity
            android:name=".ui.giaovien.GiaoVienActivity"
            android:exported="false" /> <!-- Màn hình Đăng nhập là màn hình đầu tiên -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Màn hình chính -->
        <activity
            android:name=".ui.login.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>