<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demosll">

    <application
        android:allowBackup="true"
        android:label="DemoSLL"
        android:theme="@style/Theme.Demosll"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TinNhan"
            android:exported="false" />
        <activity
            android:name=".khen_thuong_hoc_sinh"
            android:exported="false" />
        <activity
            android:name=".hanh_kiem_hoc_sinh"
            android:exported="false" />
        <activity
            android:name=".bang_diem_hoc_sinh"
            android:exported="false" />
        <activity
            android:name=".LienHePhuHuynh"
            android:exported="false" />
        <activity
            android:name=".CapNhatDiem"
            android:exported="false" />
        <activity
            android:name=".DanhSachHocSinh"
            android:exported="false" />
        <activity
            android:name=".ThongTinHocSinh"
            android:exported="false" />
        <activity
            android:name=".ThanhToanHocPhi"
            android:exported="false" />
        <activity
            android:name=".KenhThongTin"
            android:exported="false" />
        <activity
            android:name=".HocSinhActivity"
            android:exported="false" />
        <activity
            android:name=".GiaoVienActivity"
            android:exported="false" /> <!-- Màn hình Đăng nhập là màn hình đầu tiên -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Màn hình chính -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>